# FRONT

# Compiled output
/cloud-front/dist
/cloud-front/tmp
/cloud-front/out-tsc
/cloud-front/bazel-out

# Node
/cloud-front/node_modules
/cloud-front/npm-debug.log
/cloud-front/yarn-error.log

# IDEs and editors
/cloud-front/.idea/
/cloud-front/.project
/cloud-front/.classpath
/cloud-front/.c9/
/cloud-front/*.launch
/cloud-front/.settings/
/cloud-front/*.sublime-workspace

# Visual Studio Code
/cloud-front/.vscode/*
!/cloud-front/.vscode/settings.json
!/cloud-front/.vscode/tasks.json
!/cloud-front/.vscode/launch.json
!/cloud-front/.vscode/extensions.json
/cloud-front/.history/*git

# Miscellaneous
/cloud-front/.angular/cache/
/cloud-front/.sass-cache/
/cloud-front/connect.lock
/cloud-front/coverage
/cloud-front/libpeerconnection.log
/cloud-front/testem.log
/cloud-front/typings

# System files
/cloud-front/.DS_Store
/cloud-front/Thumbs.db
