<div class="wrapper">
    <!-- NavBar -->
    <div class="navbar">

        <div class="title">
            <mat-icon style="scale: 1.5; margin-right:10px">cloud_queue</mat-icon>
            <h1 style="font-family: 'Bruno Ace', cursive !important;">DocHub</h1>
        </div>

        <button class="navbar-button" style="margin-bottom: 5px;" mat-raised-button color="primary" (click)="toggleDiv(true)">
            <mat-icon>insert_drive_file</mat-icon>
            <p>ADD FILE</p>
        </button>

        <button class="navbar-button" mat-button color="accent" (click)="toggleDiv(false)">
            <mat-icon>folder</mat-icon>
            <p>ADD FOLDER</p>
        </button>
        
        <button class="navbar-button" mat-button color="accent" >
          <mat-icon>group</mat-icon>
          <p>ADD MEMBER</p>
        </button>
        
        <button class="navbar-button" mat-button color="accent" (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          <p>LOGOUT</p>
        </button>

    </div>

    <div class="divider"></div>
  
    <div class="main-content">

        <div class="slide-container" [ngClass]="{ 'no-click': !showDiv }">
            <div class="slide" [ngClass]="{ 'slide-in': showDiv, 'slide-out': !showDiv }">
              <app-add-modify 
              (buttonClicked)="showDiv = false" 
              (fileDTO)="whenAddedNewDoc($event)"
              [currentPath]="currentPath"
              [isFileMode]="isFileMode"
              [exestedDocs]="filteredDocs"></app-add-modify>
            </div>
        </div>
          

      <div class="overlay" [ngClass]="{ 'overlay-visible': showDiv }"></div>

      <div class="path">
        <button mat-mini-fab color="primary" [disabled]="isBackButtonDisabled" (click)="closeFolder()">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <h1 style="padding: 0; margin: 0; margin-left: 1rem;">{{ getForrmatedCurrentPath() }}</h1>
      </div>
      
      
      <ul style="list-style-type: none; display: flex; flex-wrap: wrap; padding: 1rem; margin: 0;">
        <li *ngFor="let item of filteredDocs">

          <div class="item_div file_div" *ngIf="!item.isFolder">
            <div class="top-left">
              <mat-icon style="color: #364165; scale:1.3">insert_drive_file</mat-icon>
            </div>
          
            <div class="top-right">
              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon style="color: #364165; scale:1.3">more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item>
                  <span>Modify</span>
                </button>
                <button mat-menu-item (click)="openMoveDialog(item)">
                  <span>Move</span>
                </button>
                <button mat-menu-item (click)="delete(item)">
                  <span>Delete</span>
                </button>
                <button mat-menu-item>
                  <span>Download</span>
                </button>
              </mat-menu>
            </div>
          
            <div class="bottom">
              <div>
                <p class="test" style="word-break: break-all;">{{ getName(item) }}</p>
                <p class="test">{{ item.lastModifyDate | date:'dd.MM.yyyy' }}</p>
              </div>
            </div>
          </div>

          <div class="item_div folder_div" *ngIf="item.isFolder" (click)="openFolder(item)">
            <div class="top-left">
              <mat-icon style="color: #e0a607; scale:1.3">folder</mat-icon>
            </div>
          
            <div class="top-right">
              <button mat-icon-button [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()">
                <mat-icon style="color: #e0a607; scale:1.3">more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item>
                  <span>Modify</span>
                </button>
                <button mat-menu-item>
                  <span>Delete</span>
                </button>
              </mat-menu>
            </div>
          
            <div class="bottom">
              <div>
                <p class="test" style="word-break: break-all;">{{ getName(item) }}</p>
              </div>
            </div>
          </div>

        </li>
      </ul>

    </div>
  </div>
  