<div class="wrapper">
    <form action="" [formGroup]="fileForm" (ngSubmit)="sendFriendRequest()">
  
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <textarea formControlName="email" matInput ></textarea>
        </mat-form-field>
  
        <div class="button-container">
            <button mat-button color="accent" type="button" (click)="cancel()">CANCEL</button>
            <button mat-button color="accent" type="button" (click)="copy()">COPY TO CLIPBOARD</button>
            <button mat-raised-button color="primary" type="submit">SEND REQUEST</button>
        </div>
    </form>
</div> 