.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }
  
  form {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
  }
  
  .title {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .title mat-icon {
    font-size: 1.4rem;
    margin-right: 0.5rem;
  }
  
  .title h1 {
    margin-top: 0.5rem;
  }
  
  .mat-form-field {
    width: 100%;
    margin-bottom: 1rem;
  }
  
  .button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
  }
  
  .chips-list {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    padding: 0;
    margin-top: 0.5rem;
  }
  
  .chip {
    display: flex;
    align-items: center;
    background-color: #e0e0e0;
    border-radius: 20px;
    padding: 0.25rem 0.5rem;
    margin-right: 0.5rem;
  }
  
  .chip-icon {
    margin-left: 0.25rem;
    cursor: pointer;
  }
  
  textarea {
    resize: vertical;
    min-height: 100px;
  }
  