<div class="test">

    <div class="title">
      <mat-icon style="scale: 1.4;">insert_drive_file</mat-icon>
      <h1 style="margin-top: .5rem;">Add File</h1>
    </div>
  
    <form action="" [formGroup]="fileForm" (ngSubmit)="createFile()">
  
        <mat-form-field appearance="outline">
            <mat-label>File</mat-label>
            <input type="text" matInput [value]="fileName" readonly>
            <button type="button" mat-icon-button matSuffix (click)="fileInput.click()">
                    <mat-icon>attach_file</mat-icon>
                </button>
            <input #fileInput type="file" (change)="onFileSelected($event)" style="display: none;">
        </mat-form-field>
  
        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input formControlName="name" type="text" matInput>
        </mat-form-field>
  
        <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <textarea formControlName="description" matInput style="height: 100px;"></textarea>
        </mat-form-field>
  
        <mat-form-field appearance="outline">
            <mat-label>Tags</mat-label>
            <input formControlName="tagsInput" (keydown.enter)="addItem($event)" matInput placeholder="Press Enter to add">
            <ul class="chips-list">
                <li *ngFor="let item of tags; let i = index" class="chip">
                    {{ item }}
                    <mat-icon class="chip-icon" (click)="removeItem(i)">cancel</mat-icon>
                </li>
            </ul>
        </mat-form-field>
  
        <div class="button-container">
            <button class="navbar-button" mat-button color="accent" type="button" (click)="cancel()">CANCEL</button>
            <button class="navbar-button" mat-raised-button color="primary" type="submit">ADD</button>
        </div>
    </form>
  
</div> 