
@use '@angular/material' as mat;
@include mat.core();

$md-mcgpalette0: (
    50 : #f5f7fc,
    100 : #e7ebf8,
    200 : #d7def3,
    300 : #c6d0ee,
    400 : #bac6ea,
    500 : #aebce6,
    600 : #a7b6e3,
    700 : #9daddf,
    800 : #94a5db,
    900 : #8497d5,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #fbfcff,
    A700 : #e1e8ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
$accent-palette: (
  50 : #eaebf0,
  100 : #caceda,
  200 : #a7aec1,
  300 : #848da8,
  400 : #697495,
  500 : #4f5c82,
  600 : #48547a,
  700 : #3f4a6f,
  800 : #364165,
  900 : #263052,
  A100 : #99afff,
  A200 : #6687ff,
  A400 : #335fff,
  A700 : #1a4bff,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #ffffff,
      A700 : #ffffff,
  )
);
$warn-palette: (
  50 : #fdeaea,
  100 : #facbcb,
  200 : #f7a9a8,
  300 : #f48785,
  400 : #f16d6a,
  500 : #F55F5B,
  600 : #ed4c49,
  700 : #eb4240,
  800 : #e83937,
  900 : #e42927,
  A100 : #ffffff,
  A200 : #ffeded,
  A400 : #ffbbba,
  A700 : #ffa2a1,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$CloudProject-primary: mat.define-palette($md-mcgpalette0, 800);
$CloudProject-accent: mat.define-palette($accent-palette, 700);
$CloudProject-warn: mat.define-palette($warn-palette);
$CloudProject-theme: mat.define-light-theme((
  color: (
    primary: $CloudProject-primary,
    accent: $CloudProject-accent,
    warn: $CloudProject-warn,
  )
));
@include mat.all-component-themes($CloudProject-theme);